body {
    background: rgb(241, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
     .container {
     padding: 25px 30px;
     border-radius: none;
     box-shadow: 0 2px 10px rgba(30, 27, 27, 0.718);
     align-items: center;
     text-align: center;
     justify-content: center;
     width: 65%;
     height: 700px;
     background-color: WHITE;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%)
    
   }
   .container img {
    width: 40px;
    height: 20px;
    border-radius: none;
    padding-right: 88%;
    margin-top: -30px;
   }
   .container h2 {
    color: #333;
    font-size: 20px;
    margin-top: -28px;
    padding-right: 53%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(126, 116, 116);
    font-size: 18px;
   }
   .auth-container {
  background-color: rgb(255, 187, 0);
    border-radius: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 88%;
    height: 600px;
    position: absolute;
    top: 47.95%;
    left: 50%;
      transform: translate(-50%, -50%);
}

.toggle-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  background-color: white;
}

.toggle-tabs button {
  width: 50%;
  padding: 0.75rem;
  background: none;
  border: 25px;
  font-weight: bold;
  cursor: pointer;
  border-bottom: 10px solid transparent;
  transition: all 0.3s ease;
}

.toggle-tabs .active {
  border-color: none;
  color: rgb(255, 187, 0);
}
.container h3 {
  color: rgb(120, 120, 211);
  text-align: right;
  margin-top: -30px;
 padding-right: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}
.logo-section {
 margin: -10px;
  text-align: center;
}

.logo-section img {
  width: 120px; /* Adjust size as needed */
  height: 50px;
  border-radius: none; /* Optional: gives soft corners */
  padding-left: 68%;
  margin-top: -390px;
}
