.profile-section {
  background: #111827;
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.profile-container {
  background: #1f2937;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  text-align: left;
}

.profile-container h2 {
  text-align: center;
  color: #00b96b;
  margin-bottom: 20px;
}

.profile-container form {
  display: flex;
  flex-direction: column;
}

.profile-container label {
  font-size: 14px;
  margin-bottom: 5px;
}

.profile-container input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-bottom: 15px;
  background: #374151;
  color: #fff;
}

.profile-container input[disabled] {
  color: #aaa;
}

.profile-container button {
  padding: 12px;
  background: #00b96b;
  border: none;
  color: #fff;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

a {
  display: block;
  margin-top: 20px;
  color: yellow;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: greenyellow;
}
